table {
  font-family: 'Roboto';
  border-collapse: collapse;
  width: 100%;
  line-height: 1.5rem;
}

th {
  padding: 8px;
  color: #586673;
  letter-spacing: 0.2px;
}

td {
  color: #222;
  font-weight: bold;
}

td,
th {
  border-bottom: 2px solid #dddddd;
  text-align: center;
  padding: 8px 0;
}

.spanTitle {
  letter-spacing: 0.2px;
  line-height: 1.5rem;
  color: #586673;
  cursor: pointer;
}

.title {
  letter-spacing: 0.2px;
  line-height: 2rem;
}

.secondContainer {
  background-color: #fff;
  min-height: 550px;
  margin-top: 24px;
  border-radius: 24px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.thirdContainer {
  background-color: #fff;
  min-height: 420px;
  margin-top: 24px;
  border-radius: 12px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 2px 0px,
    rgba(99, 99, 99, 0.2) 0px -2px 2px 0px;
  position: relative;
  top: 25px;
  padding: 0px;
}

.pagination {
  color: #586673;
  padding: 16px 0;
  width: 410px;
  float: right;
  margin-right: 48px;
}

.arrowDown {
  font-size: 0.75rem;
  margin-right: 16px;
  color: #222;
  cursor: pointer;
}
.arrowLeft {
  cursor: pointer;
}

.doubleLeftArrow {
  margin-left: 16px;
  cursor: pointer;
}

.arrowRight,
.doubleRightArrow {
  color: #222;
  font-weight: bold;
  cursor: pointer;
}

.arrowRight,
.arrowLeft {
  margin: 0px 16px;
}

.settingsIcon {
  background-color: #3f51b5;
  border-radius: 4px;
  color: #fff;
  padding: 4px;
  cursor: pointer;
}

button {
  margin-top: 48px;
  padding: 12px;
  color: #fff;
  background-color: #11aabb;
  border: none;
  border-radius: 4px;
  width: 100px;
  display: block;
  cursor: pointer;
}

footer {
  font-family: 'Roboto';
  line-height: 1.5rem;
  color: #586673;
  text-align: center;
  margin: 320px 0;
}
